    <%- include('includes/header')  %> 
</head>
<body>
    <%- include('includes/navigations')  %> 
    <main>
        <h1>Page Not Found</h1>
    </main>
    <%- include('includes/footer')  %> 
</body>

</html>